button {
  /* 원하는 스타일을 추가하세요 */
  padding: 10px;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.2rem;
  border-color: #5CB85C; /* 그 다음에 border-color 선언 */
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  color: #5CB85C;
  cursor: pointer;
  justify-content: flex-end;
}

button:hover {
  background-color: #5CB85C;
  color: #fff;
  
}
button::before {
  content: "\2764"; 
  margin-right: 5px; 
}

button:hover::before {
  color: #fff;
}
