@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,700;1,300&display=swap');

.Nav-logo p{
    font-family: "Titillium Web", sans-serif;
    font-size: 2rem ;
    font-weight: 900;
    padding-top: 0rem !important;
    margin:0 2rem 0 0 ;
    color: #5CB85C !important;
}