@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;1,300&display=swap');

.Header-title{
  margin: 0;
  padding: 0px 0px 8px;
  font-size: 3.5rem;
  font-weight: 700 !important;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.Header-paraph{
  font-size: 1.5rem;
  font-weight: 300 !important;
  margin: 0; 
}